includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    level: 5
    ignoreErrors:
    excludes_analyse:
