# CircleCI build for https://circleci.com/gh/monicahq/laravel-cloudflare

version: 2

# Note: YAML anchors allow an object to be re-used, reducing duplication.
# The ampersand declares an alias for an object, then later the `<<: *name`
# syntax dereferences it.
# See http://blog.daemonl.com/2016/02/yaml.html
# To validate changes, use an online parser, eg.
# http://yaml-online-parser.appspot.com/

aliases:
# Some variables
  - &composer_key_base composer-v1-
  - &composer_key composer-v1-{{ checksum "composer.lock" }}
  - &sonar_key_base sonarscanner-v1-
  - &sonar_key sonarscanner-v1-{{ .Environment.SONAR_VERSION }}
  - &root ~/laravel-cloudflare

# Defaults env
  - &defaults
    working_directory: *root

  - &prepare-environment
    run:
      name: Prepare environment
      command: |
        mkdir -p results/coverage
  - &unit-tests
    run:
      name: Run unit tests
      command: phpdbg -dmemory_limit=4G -qrr vendor/bin/phpunit -c phpunit.xml --log-junit ./results/junit/results.xml --coverage-clover ./results/coverage.xml
  - &psalm
    run:
      name: Run psalm
      command: vendor/bin/psalm --show-info=false
  - &remove-xdebug
    run:
      name: Remove xdebug
      command: |
        sudo rm -f /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini

  - &restore_composer
    restore_cache:
      keys:
        - *composer_key
        - *composer_key_base

jobs:
  build:
    <<: *defaults
    docker:
      - image: circleci/php:7.2

    steps:
      - checkout:
      - *prepare-environment

      ## COMPOSER
      - *restore_composer
      - run: composer install --no-interaction --no-suggest --ignore-platform-reqs
      - save_cache:
          key: *composer_key
          paths: ~/.composer/cache/
      - persist_to_workspace:
          root: *root
          paths: vendor

  tests-7.1:
    <<: *defaults
    docker:
      - image: circleci/php:7.1

    steps:
      - checkout:
      - attach_workspace:
          at: *root
      - *prepare-environment
      - *remove-xdebug
      - *unit-tests
      - store_test_results:
          path: results/junit
      - store_artifacts:
          path: results/junit

  tests-7.2:
    <<: *defaults
    docker:
      - image: circleci/php:7.2

    steps:
      - checkout:
      - attach_workspace:
          at: *root
      - *prepare-environment
      - *remove-xdebug
      - *unit-tests
      - store_test_results:
          path: results/junit
      - store_artifacts:
          path: results/junit
      - persist_to_workspace:
          root: *root
          paths: results

  tests-7.3:
    <<: *defaults
    docker:
      - image: circleci/php:7.3

    steps:
      - checkout:
      - attach_workspace:
          at: *root
      - *prepare-environment
      - *remove-xdebug
      - *unit-tests
      - store_test_results:
          path: results/junit
      - store_artifacts:
          path: results/junit

  psalm:
    <<: *defaults
    docker:
      - image: circleci/php:7.2

    steps:
      - checkout:
      - attach_workspace:
          at: *root
      - *prepare-environment
      - *psalm

  reporting:
    <<: *defaults
    docker:
      - image: circleci/php:7.2

    steps:
      - checkout:
      - attach_workspace:
          at: *root
      - restore_cache:
          keys:
            - *sonar_key
            - *sonar_key_base

      - run:
          name: Run sonar scanner
          command: |
            export SONAR_RESULT=./results/results.xml
            export SONAR_COVERAGE=./results/coverage.xml
            scripts/tests/runsonar.sh
      - save_cache:
          key: *sonar_key
          paths:
            - ~/sonarscanner
            - ~/.sonar/cache


workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - tests-7.1:
          requires:
            - build
      - tests-7.2:
          requires:
            - build
      - tests-7.3:
          requires:
            - build
      - psalm:
          requires:
            - build
      - reporting:
          requires:
            - tests-7.2
