name: Laravel cloudflare static analysis

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  statics:
    name: Static analysis
    uses: monicahq/workflows/.github/workflows/static.yml@v2
    with:
      php-version: 8.4
