name: Unit tests

on:
  push:
    branches:
      - main
      - next
      - next-major
      - beta
      - alpha
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types:
      - created

jobs:
  tests:
    name: Run tests
    uses: monicahq/workflows/.github/workflows/library.yml@v2
    with:
      php-versions: "['8.0', '8.1', '8.2']"
      laravel-versions: "['8.*', '9.*', '10.*']"
      default-php-version: '8.2'
      default-laravel-version: '10.*'
      matrix-exclude: "[{'php-version': '8.0', 'laravel-version': '10.*'}]"
      project: monicahq_laravel-cloudflare
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  release:
    name: Release
    uses: monicahq/workflows/.github/workflows/release.yml@v2
    secrets:
      GH_TOKEN_RELEASE: ${{ secrets.GH_TOKEN_RELEASE }}
    needs: tests
