name: Unit tests

on:
  push:
    branches:
      - main
      - next
      - next-major
      - beta
      - alpha
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types:
      - created

jobs:
  tests:
    uses: monicahq/workflows/.github/workflows/library.yml@init
    with:
      php-version: ${{ matrix.php-version }}
      laravel-version: ${{ matrix.laravel-version }}
      coverage: ${{ matrix.php-version == '8.2' && matrix.laravel-version == '10.*' }}

    strategy:
      fail-fast: false
      matrix:
        php-version: [8.0, 8.1, 8.2]
        laravel-version: [8.*, 9.*, 10.*]
        exclude:
          - php-version: 8.0
            laravel-version: 10.*

  reporting:
    uses: monicahq/workflows/.github/workflows/reporting.yml@init
    with:
      project: monicahq_laravel-cloudflare
      sources: src
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    needs: tests

  release:
    uses: monicahq/workflows/.github/workflows/release.yml@init
    secrets:
      GH_TOKEN_RELEASE: ${{ secrets.GH_TOKEN_RELEASE }}
    needs: tests

  junit:
    uses: monicahq/workflows/.github/workflows/junit.yml@init
    needs: tests
